@page "/separators"

<PageTitle>Modify text</PageTitle>

<h1>One or Many Separators in Text</h1>

<h5><label for="input">Input text:</label></h5>
<table>
    <tr><textarea @onfocus="CountNumberOfRows" id="input" rows="10" cols="100" wrap="soft" placeholder="Input text here" @bind="InputValue"></textarea></tr>
    <tr><lable for="input">Rows: @NumberOfInputLines</lable></tr>
</table>

<h5><label for="output">Changed text:</label></h5>
<table>
    <tr><textarea @onfocus="CountNumberOfRows" id="output" rows="10" cols="100" wrap="hard" placeholder="Output text here" @bind="Result"></textarea></tr>
    <tr><lable for="output">Rows: @NumberOfResultLines</lable></tr>
</table>


<p><button class="btn-primary" @onfocus="CountNumberOfRows" @onclick="UpdatePage">Change text</button></p>



@code {

    private string InputValue { get; set; } = string.Empty;
    private string Result { get; set; } = string.Empty;
    public int NumberOfInputLines { get; set; }
    public int NumberOfResultLines { get; set; }

    // separators
    char[] separators = new char[] { ',', ';', '\t' };


    private void UpdatePage()
    {
        if (InputValue.Length > 0)
        {
            ManageText mt = new(InputValue, separators);
            Result = mt.GetModifiedText();
        }
        else
        {
            Result = string.Empty;
        }

        CountNumberOfRows();
    }

    private void CountNumberOfRows()
    {
        List<string> rows = new();
        rows = InputValue.Split("\n", StringSplitOptions.RemoveEmptyEntries).ToList();
        NumberOfInputLines = rows.Count();
        rows = Result.Split("\n", StringSplitOptions.RemoveEmptyEntries).ToList();
        NumberOfResultLines = rows.Count();
    }
}