@page "/studentadmission"

<PageTitle>Student admission</PageTitle>

<h1>Student admission</h1>

<h5><label for="input">Input text:</label></h5>
<table>
    <tr><textarea @onfocus="CountNumberOfRows"  id="input" rows="10" cols="100" wrap="soft" placeholder="Input text here" @bind="InputValue" ></textarea></tr>
    <tr><lable for="input">Rows: @NumberOfInputRows</lable></tr>
</table>

<h5><label for="output">Changed text:</label></h5>
<table>
    <tr><textarea @onfocus="CountNumberOfRows" id="output" rows="10" cols="100" wrap="hard" placeholder="Output text here" @bind="OutputValue"></textarea></tr>
    <tr><lable for="output">Rows: @NumberOfOutputRows</lable></tr>
</table>


<p><button class="btn btn-primary" @onfocus="CountNumberOfRows" @onclick="ChangeText">Change text</button></p>

@code {

    private string InputValue { get; set; } = string.Empty;
    private string OutputValue { get; set; } = string.Empty;
    public int NumberOfInputRows { get; set; }
    public int NumberOfOutputRows { get; set; }

    // separators
    //char[] separators = new char[] { ',', ';', '\t' };

    private void ChangeText()
    {        
        if (InputValue.Length > 0)
        {
            ManageStudentAdmissionItems manage = new(InputValue);
            OutputValue = manage.GetStudentAdmissionItems();
        }
        else
        {
            OutputValue = string.Empty;
        }

        CountNumberOfRows();
    }

    private void CountNumberOfRows()
    {
        List<string> rows = new();
        rows = InputValue.Split("\n", StringSplitOptions.RemoveEmptyEntries).ToList();
        NumberOfInputRows = rows.Count();        
        rows = OutputValue.Split("\n", StringSplitOptions.RemoveEmptyEntries).ToList();
        NumberOfOutputRows = rows.Count();
    }
}
